.cover {
  height: 100vh;
}

.imgBg {
  width: 100%;
  background-image: url("../../assets/images/chocolates.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.formBg {
  background-color: var(--white);
}

.logo{
  z-index: 1;
  max-width: 260px;
}

@media (max-width: 768px) {
  .logo{
    max-width: 150px;
  }
}